<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <h2>
          Meet Our Dynamic Duo!
        </h2>
        <p class="text-blk subHeading text-content">
            At Fuzzy Blooms & Jadazzled, creativity and personal touch are at the heart of everything we do. Our mission is to add a bit more joy and beauty to your life through our handcrafted flowers and bespoke nail art. With KZ's delicate blooms and Jada’s nail art wizardry, we're here to make every moment a little more magical.
        </p>
      </div>
      <div class="responsive-container-block rightSide">
        <img class="number1img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET32.jpg">
        <img class="number2img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d14.png">
        <img class="number3img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b245.png">
        <img class="number5img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Customer supports.png">
        <iframe allowfullscreen="allowfullscreen" class="number4vid" poster="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b242.png" src="https://www.youtube.com/embed/svg%3E?">
        </iframe>
        <img class="number7img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d51.png">
        <img class="number6img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d12.png">
      </div>
    </div>
  </div>

  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eaboutus1.svg">
      <div class="allText aboveText">
        <p class="text-blk headingText">
          Our Mission
        </p>
        <p class="text-blk subHeadingText">
          This area is for Kz's mission
        </p>
        <p class="text-blk description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum pulvinar ullamcorper suspendisse ac eget. Pellentesque tempus leo in ullamcorper quis vestibulum ligula elementum ut.
        </p>
        <button class="explore">
          Explore
        </button>
      </div>
    </div>
    <div class="responsive-container-block Container bottomContainer">
      <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/xpraup2.svg">
      <div class="allText bottomText">
        <p class="text-blk headingText">
          Our Vision
        </p>
        <p class="text-blk subHeadingText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p class="text-blk description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum pulvinar ullamcorper suspendisse ac eget. Pellentesque tempus leo in ullamcorper quis vestibulum ligula elementum ut.
        </p>
        <button class="explore">
          Explore
        </button>
      </div>
    </div>
  </div>